<h1>List of Movies </h1>

<form method="GET" action="/movies/results"> 
    <label for="nameFilter"> Filter by Movie Name: </label> 
    <input type="text" id="titleFilter" name="titleFilter">    
    <input type="submit" value="search">
</form>

<!-- always try to give the label for Name and the input type ID match. -->

<!-- is it the id or  name that is being connected to the route? -->

