<h1>Movie Results</h1>

<h2>Titles</h2>

<ul>
    <a href='/movies/<%=movieResults.imdbID%>'><%= movieResults.Title %></a>

    <!--<% for(property in movieResults) { %>
        <li> <%= movieResults.property %> </li>
    <% } %>--->
</ul>